    <model-edit>

        <dform  :model.sync="model" :structure="structure" v-if="configLoaded"></dform>



        <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="ent_name_r">(Russian only) Model entity name (Родительный-->
        <!--падеж)</label>-->
        <!--<input type="text" class="form-control" id="ent_name_r" name="ent_name_r"-->
        <!--v-model="model.ent_name_r"/>-->
        <!--</div>-->

        <!--<div class="form-group">-->
        <!--<label for="ent_name_v">(Russian only) Model entity name (Винительный-->
        <!--падеж)</label>-->
        <!--<input type="text" class="form-control" id="ent_name_v" name="ent_name_v"-->
        <!--v-model="model.ent_name_v"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="dialog_width">Modal dialog width (optional)</label>-->
        <!--<input type="text" class="form-control" id="dialog_width"-->
        <!--name="dialog_width" v-model="model.dialog_width"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </model-edit>