<model-edit>
    <add-relation-btn></add-relation-btn>

        <table class="mdl-data-table mdl-js-data-table	" style="width:100%">
        <thead>
        <tr>

            <th class="mdl-data-table__cell--non-numeric" width="50px">Type</th>
            <th class="mdl-data-table__cell--non-numeric" width="150px">Attribute name</th>
            <th class="mdl-data-table__cell--non-numeric" width="150px">Edit Type</th>
            <th  class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric" width="150px;">Relation model</th>
            <th width="100px"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(key, rel) in model.fields | filterBy isRelation">
            <td  class="mdl-data-table__cell--non-numeric"><span class="text-success">
                                            <img :title="rel.relation"
                                                 :src="'/assets/images/icons/'+ rel.relation+ '.png'"/></span>
            </td>
            <td  class="mdl-data-table__cell--non-numeric">{{ key }}</td>
            <td  class="mdl-data-table__cell--non-numeric">{{ rel.type }}</td>
            <td  class="mdl-data-table__cell--non-numeric">{{ rel.title }}</td>
            <td  class="mdl-data-table__cell--non-numeric">{{ rel.model }}</td>
            <td><a  @click.prevent="editRelation(key)" >
                <mdl-button v-mdl-ripple-effect icon primary colored mini-fab>
                    <i class="material-icons">edit</i>
                </mdl-button>
                </a>
                <a  @click.prevent="this.$store.dispatch('DELETE_FIELD',key)" >
                    <mdl-button v-mdl-ripple-effect accent icon primary colored mini-fab>
                        <i class="material-icons">delete</i>
                    </mdl-button>
                </a>


                <a class="text-danger" href="#" @click.prevent=""
                   style="font-size: 20px;"><i class="fa fa-trash-o"> </i></a>



            </td>
        </tr>
        </tbody>
    </table>
    <add-relation-btn></add-relation-btn>
    <relation-edit></relation-edit>
</model-edit>