<!-- modal -->
<modal id="form_modal" size="lg" :fade="true" v-ref:popup>
    <div slot="modal-header">
        <template v-if="edit">Edit form "{{ formKey }}"</template>
        <template v-if="!edit">Add new form</template>
    </div>
    <div slot="modal-body">
        <form id="form_form">
            <div class="card">
                <div style="padding:10px;">
                    <div class="row">

                        <div class="col-md-5">
                            <label>Add tab</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @keyup.enter.prevent="addTab()"
                                       v-model="newTabTitle" placeholder="Tab title">
                                <span class="input-group-btn">
                                <button class=" btn btn-primary" @click.prevent="addTab()">Ok</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-5  col-md-offset-1 form-group">
                            <label>Form Alias *</label>
                            <input type="text" name="key" class="form-control" :value="formKey" v-model="formKey"
                                   placeholder="Form alias *"
                                   required>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <h5>Form fields</h5>
                            <div style="max-height:450px;overflow:auto">
                                <div style="min-height:30px;background-color:lightgrey; margin-bottom: 20px;"
                                     class="list-group" v-sortable="sortableDestOptions">

                                    <template v-for="(key, f) in fields">

                                        <template v-if="f.tab">
                                        <span class="list-group-item  list-group-item-danger" style="cursor: move">
                                            <button class="btn btn-danger pull-right" @click.prevent="deleteField(key)"><i
                                                    class="fa fa-trash-o"></i></button>
                                            <span>
                                            <span class="fa fa-folder-o"></span> {{ f.title }}
                                            </span>
                                            <small v-if="f.view">({{ f.view }})</small>
                                        </span>
                                        </template>
                                        <template v-else>
                                        <span class="list-group-item" style="cursor: move">
                                            <button class="btn btn-danger pull-right"
                                                    @click.prevent="deleteField(key, f.key)"><i
                                                    class="fa fa-trash-o"></i></button>
                                            <b>{{ f.key }}</b> {{ model.fields[f.key].title }} ({{ model.fields[f.key].type }})

                                        </span>
                                        </template>
                                    </template>


                                    <!--<template v-if="form.fields.length">-->
                                    <!--<span  v-for="f  in  form.fields" style="cursor: move"-->
                                    <!--data-rel="{{ f }}" class="list-group-item list-group-item-info">-->
                                    <!--<b>{{ f }}</b> {{ model.fields[f].title }} ({{ model.fields[f].type }})-->
                                    <!--</span>-->
                                    <!--</template>-->
                                    <!--<template v-else >-->
                                    <!--<template v-for="(key, tab) in form.tabs">-->
                                    <!--<span  class="list-group-item list-group-item-danger"-->
                                    <!--data-view="{{ tab.view }}"-->
                                    <!--data-key="{{ key }}"-->
                                    <!--data-form_tab="1" style="cursor: move">-->
                                    <!--<span>-->
                                    <!--<span class="fa fa-folder-o"></span> {{ tab.title }}-->
                                    <!--</span>-->
                                    <!--<small v-if="tab.view">({{ tab.view }})</small>-->
                                    <!--<div class="pull-right"><a href="#" @click.prevent="$dispatch('dom::remove_parent', $event)"  data-parent="span.list-group-item-danger" data-confirm="Really delete this tab?" class="label label-danger"><i class="fa fa-trash-o"></i> Remove</a>-->
                                    <!--</div>-->
                                    <!--</span>-->
                                    <!--<template v-if="tab.fields.length">-->
                                    <!--<span  v-for="f  in  tab.fields" style="cursor: move"-->
                                    <!--data-rel="{{ f }}" class="list-group-item list-group-item-info">-->
                                    <!--<b>{{ f }}</b> {{ model.fields[f].title }} ({{ model.fields[f].type }})-->
                                    <!--</span>-->
                                    <!--</template>-->
                                    <!--</template>-->
                                    <!--</template>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h5>Available fields (drag'n'drop to form fields)</h5>
                            <div style="max-height:450px;overflow:auto">
                                <div style="min-height:30px;" data-rel="fields_stack" class="list-group"
                                     v-sortable="sortableStackOptions">
                                 <span v-for="f  in  availableFields" style="cursor: move"
                                       data-rel="{{ f }}" class="list-group-item list-group-item-info">
                                        <b>{{ f }}</b> {{ model.fields[f].title }} ({{ model.fields[f].type }})
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div slot="modal-footer">
        <button class="btn btn-success" @click="save()">
            Save
        </button>
        <button class="btn btn-default" v-on:click="hide()">
            Cancel
        </button>
    </div>
</modal>

