<model-edit>
    <div class="col-lg-9 col-lg-offset-1">

        <add-relation-btn></add-relation-btn>


        <table class="table table-striped">
        <tr>

            <th class="" width="50px">Type</th>
            <th class="" width="150px">Attribute name</th>
            <th class="" width="150px">Edit Type</th>
            <th  class="">Title</th>
            <th class="" width="150px;">Relation model</th>
            <th width="100px"></th>
        </tr>
        <tr v-for="(key, rel) in model.fields | filterBy isRelation">
            <td  class=""><span class="text-success">
                                            <img :title="rel.relation"
                                                 :src="'/assets/images/icons/'+ rel.relation+ '.png'"/></span>
            </td>
            <td  class="">{{ key }}</td>
            <td  class="">{{ rel.type }}</td>
            <td  class="">{{ rel.title }}</td>
            <td  class="">{{ rel.model }}</td>
            <td nowrap="nowrap">
                <button   class="btn btn-success" @click.prevent="this.$broadcast('relation::edit', key)">
                    <i class="fa fa-edit"></i>
                </button>


                <button   class="btn btn-danger" @click.prevent="this.$store.dispatch('DELETE_FIELD',key)">
                    <i class="fa fa-trash-o"></i>
                </button>


            </td>
        </tr>
    </table>
    <add-relation-btn></add-relation-btn>
    <relation-edit></relation-edit>
    </div>
</model-edit>