<modal id="relation_modal" size="lg" :fade="true" v-ref:popup>
    <div slot="modal-header">
        <template v-if="edit">Edit relation "{{ relation.title }}"</template>
        <template v-if="!edit">Add new  relation</template>
    </div>
    <div slot="modal-body">
        <form id="relation_form" v-on:submit.prevent>
            <div class="card">
                <span class="label label-primary pull-right">{{ relation.relation }}</span>
                <br clear="all" />

                <div style="padding:10px;">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Title *</label>
                            <input type="text" name="title" class="form-control" :value="relation.title" v-model="relation.title" placeholder="Title *"
                                   required>

                        </div>
                        <div class="col-md-6  form-group">
                            <label>Attribute name (snake_case)*</label>
                            <input type="text" name="key" class="form-control" v-model="relation.key"  :value="relation.key"
                                   placeholder="Attribute name (snake_case)*" required :readonly="edit">
                        </div>

                        <div class="col-md-6  form-group">
                            <label>Relation model</label>
                            <select class="form-control default_select" name="model"   v-model="relation.model" required>
                                <option value="">Choose relation model</option>
                                <option v-for="m in commonConfig.all_models" v-bind:value="m">
                                    {{ m }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6  form-group" v-if="relation.relation=='belongsTo' || relation.relation=='hasFile'">
                            <label>Field (local key)
                                <select class="form-control default_select" name="field" v-model="relation.field"  :value="relation.field" required >
                                    <option value="">Choose Local key</option>
                                    <option v-for="(key, col) in modelConfig.table_int_columns" v-bind:value="col">
                                        {{ col }}
                                    </option>
                                </select>
                            </label>
                        </div>

                        <div class="col-md-6  form-group" v-if="relation.relation=='hasMany' || relation.relation=='hasOne'">
                            <label>Foreign key</label>
                            <select class="form-control default_select"
                                    v-model="relation.field" name="field" required  :value="relation.field">
                                <option value="">Choose relation model first</option>
                                <option v-for="col in relationModel.columns" v-bind:value="col">
                                    {{ col }}
                                </option>
                            </select>

                            <br/>
                            <label>"On delete" action</label>
                            <select class="form-control default_select" name="on_delete" v-model="relation.on_delete">
                                <option v-for="(value, text) in commonConfig.on_delete_actions" v-bind:value="value">
                                    {{ text }}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12" v-if="relation.relation=='belongsToMany'">
                        <div class="checkbox"><label><input type="radio"   v-model="relation.pivot" v-bind:value="0" /><b>Generate pivot table</b></label></div>
                        <div class="checkbox"><label><input type="radio"  v-model="relation.pivot" v-bind:value="1"   /><b>Choose existing pivot table</b></label></div>
                        <div class="form-group" v-if="relation.pivot == 1">
                            <select class="form-control" name="pivot_table"  v-model="relation.pivot_table" required >
                                <option value="">Choose Pivot table</option>
                                <option v-for="table in config.pivot_tables" v-bind:value="table">
                                    {{ table }}
                                </option>
                            </select>
                            <label> Self key:<br />
                                <select class="form-control" name="pivot_self_key" v-model="relation.pivot_self_key" required   >
                                    <option value="">Choose pivot self key</option>
                                    <option v-for="col in pivot_columns" v-bind:value="col">
                                        {{ col }}
                                    </option>
                                </select>
                            </label>
                            <label> Foreign  key:<br />
                                <select class="form-control" name="pivot_foreign_key" v-model="relation.pivot_foreign_key" required  >
                                    <option value="">Choose pivot foreign key</option>
                                    <option v-for="col in pivot_columns" v-bind:value="col">
                                        {{ col }}
                                    </option>
                                </select>
                            </label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                        <span class="label label-warning pull-right">Edit options</span>
                        <hr />
                     </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Form field type</label>
                            <select v-model="relation.type" class="form-control default_select">
                                <option value="">Not editable</option>
                                <option v-for="(value, text) in editTypes" v-bind:value="value">
                                    {{ text }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Data provider  method</label>

                            <select v-model="relation.find"  class="form-control default_select">
                                <option value="">No method</option>
                                <option v-for="row in relationModel.find_methods" v-bind:value="row.name">
                                    {{ row.name }} ({{ row.description }})
                                </option>
                            </select>
                        </div>
                        <!--<div class="col-md-6">-->
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox" v-model="relation.required">-->
                                    <!--Required-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        </div>
                </div>
            </div>
        </form>
    </div>
    <div slot="modal-footer">
        <button class="btn btn-success" @click.prevent="save()">
            <i class="fa fa-save"></i>
            Save
        </button>
        <button class="btn btn-default" @click.prevent="close()">
            <i class="fa fa-sign-out"></i>
            Cancel
        </button>
    </div>
</modal>