<model-edit>
    <div class="col-lg-9 col-lg-offset-1">

        <add-relation-btn></add-relation-btn>


        <table class="table table-striped">
        <thead>
        <tr>

            <th class="" width="50px">Type</th>
            <th class="" width="150px">Attribute name</th>
            <th class="" width="150px">Edit Type</th>
            <th  class="">Title</th>
            <th class="" width="150px;">Relation model</th>
            <th width="100px"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(key, rel) in model.fields | filterBy isRelation">
            <td  class=""><span class="text-success">
                                            <img :title="rel.relation"
                                                 :src="'/assets/images/icons/'+ rel.relation+ '.png'"/></span>
            </td>
            <td  class="">{{ key }}</td>
            <td  class="">{{ rel.type }}</td>
            <td  class="">{{ rel.title }}</td>
            <td  class="">{{ rel.model }}</td>
            <td><a  @click.prevent="this.$broadcast('relation::edit', key)" >
                <mdl-button v-mdl-ripple-effect icon primary colored mini-fab>
                    <i class="material-icons">edit</i>
                </mdl-button>
                </a>
                <a  @click.prevent="this.$store.dispatch('DELETE_FIELD',key)" >
                    <mdl-button v-mdl-ripple-effect accent icon primary colored mini-fab>
                        <i class="material-icons">delete</i>
                    </mdl-button>
                </a>


                <a class="text-danger" href="#" @click.prevent=""
                   style="font-size: 20px;"><i class="fa fa-trash-o"> </i></a>



            </td>
        </tr>
        </tbody>
    </table>
    <add-relation-btn></add-relation-btn>
    <!--<relation-edit></relation-edit>-->
    </div>
</model-edit>