<div>
<mdl-dialog v-ref:popup half>
    <div slot="title">

    </div>
    <div slot="content">
        <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    <template v-if="edit">Edit relation "{{ relation.title }}"</template>
                    <template v-if="!edit">Add new relation</template>
                </h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <dform v-on:submit.prevent v-ref:form>
                    <div class="card" style="width:100%">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <text-field label="Title *" required :model="relation"  key="title"></text-field>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <text-field label="Attribute name (snake_case)*" required :model="relation"  key="key" :readonly="edit"></text-field>
                            </div>
                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <select-field  label="Relation model"
                                              :options="commonConfig.all_models"
                                              :model="relation" key="model"
                                              required>

                                </select-field>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">

                                <select-field  v-if="relation.relation=='belongsTo' || relation.relation=='hasFile'"
                                               label="Field (local key)"
                                               :options="modelConfig.table_int_columns"
                                               :model="relation" key="field"
                                               required>

                                </select-field>

                                <template
                                     v-if="relation.relation=='hasMany' || relation.relation=='hasOne'">

                                    <select-field  label="Foreign key"
                                                   :options="relationModel.columns"
                                                   :model="relation" key="field"
                                                   required>

                                    </select-field>
                                    <br/>
                                    <select-field  label='"On delete" action'
                                                   :options="commonConfig.on_delete_actions"
                                                   :model="relation" key="on_delete"
                                                   >

                                    </select-field>
                                </template>
                            </div>
                        </div>
                        <template v-if="!edit">
                        <div class="mdl-grid" v-if="relation.relation=='belongsToMany'">
                            <div class="mdl-cell mdl-cell--12-col">
                                <mdl-radio :checked.sync="relation.pivot" class="mdl-js-ripple-effect" value="0">
                                    Generate pivot table</mdl-radio>
                                <mdl-radio :checked.sync="relation.pivot" class="mdl-js-ripple-effect" value="1">
                                    Choose existing pivot table</mdl-radio>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col"   v-if="relation.pivot == 1">
                                    <select class="form-control" name="pivot_table" v-model="relation.pivot_table" required>
                                        <option value="">Choose Pivot table</option>
                                        <option v-for="table in commonConfig.pivot_tables" v-bind:value="table">
                                            {{ table }}
                                        </option>
                                    </select>
                                    <label> Self key:<br/>
                                        <select class="form-control" name="pivot_self_key" v-model="relation.pivot_self_key"
                                                required>
                                            <option value="">Choose pivot self key</option>
                                            <option v-for="col in pivot_columns" v-bind:value="col">
                                                {{ col }}
                                            </option>
                                        </select>
                                    </label>
                                    <label> Foreign key:<br/>
                                        <select class="form-control" name="pivot_foreign_key"
                                                v-model="relation.pivot_foreign_key" required>
                                            <option value="">Choose pivot foreign key</option>
                                            <option v-for="col in pivot_columns" v-bind:value="col">
                                                {{ col }}
                                            </option>
                                        </select>
                                    </label>
                            </div>
                        </div>
                        </template>

                        <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col">
                                    <select-field  label='Form field type'
                                                   :options="editTypes"
                                                   :model="relation" key="type"
                                                   default-option="Not editable"

                                    >

                                    </select-field>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col">
                                    <select-field  label='Data provider method'
                                                   :options="relationModel.find_methods"
                                                   :model="relation" key="find"
                                                   default-option="No method"
                                    >

                                    </select-field>
                                </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <checkbox-field  :model="relation" key="required" label="Required"></checkbox-field>
                                </div>
                            </div>
                        </div>
                </dform>
            </div>
            <div class="mdl-card__menu">
                <span class="mdl-button mdl-js-button mdl-js-ripple-effect" v-if="relation.relation">
                    <img style="height: 30px;" :src="'/assets/images/icons/'+ relation.relation+ '.png'"/>
                {{ relation.relation }}
                </span>
            </div>
        </div>
    </div>
    <div slot="buttons">
        <mdl-button v-mdl-ripple-effect primary @click="save()"><i class="material-icons">save</i> Save</mdl-button>
        <mdl-button v-mdl-ripple-effect @click="close()"><i class="material-icons">close</i> Cancel</mdl-button>
    </div>
</mdl-dialog>
</div>