<div v-if="configLoaded">

    <div  class="tab-pane active">
        <div class="portlet box">
            <div class="portlet-body form">
                <div class="tabbable-line boxless tabbable-reversed">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"  v-link-active>
                            <a class="nav-link" v-link="{ name: 'model_general', params: { table: table }, activeClass: 'active'}">General</a>
                        </li>
                        <li class="nav-item"  v-link-active>
                            <a class="nav-link" v-link="{ name: 'model_relations', params: { table: table }, activeClass: 'active'}">Relations</a>
                        </li>
                        <li class="nav-item"  v-link-active>
                            <a class="nav-link" v-link="{ name: 'model_fields', params: { table: table }, activeClass: 'active'}">Fields</a>
                        </li>
                        <li class="nav-item"  v-link-active>
                            <a class="nav-link" v-link="{ name: 'model_forms', params: { table: table }, activeClass: 'active'}">Forms</a>
                        </li>
                        <li class="nav-item"  v-link-active>
                            <a class="nav-link" v-link="{ name: 'model_scopes', params: { table: table }, activeClass: 'active'}">Scopes</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>


</div>
<div v-else>
    loader
</div>
